---json
{
  "layout": false,
  "permalink": "sitemap.xml",
  "eleventyExcludeFromCollections": true
}
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ siteUrl }}/</loc>
  </url>
  {%- for post in collections.posts %}
  <url>
    <loc>{{ siteUrl }}{{ post.url }}</loc>
    <lastmod>{{ post.date | date }}</lastmod>
  </url>
  {%- endfor %}
  {%- for series in allSeriesData %}
  <url>
    <loc>{{ siteUrl }}/episodes/{{ series.slug }}/</loc>
  </url>
  {%- endfor %}
  <url>
    <loc>{{ siteUrl }}/episodes/</loc>
  </url>
  {%- for page in contentPages %}
  <url>
    <loc>{{ siteUrl }}{{ page.url }}</loc>
    {%- if page.date %}
    <lastmod>{{ page.date }}</lastmod>
    {%- endif %}
  </url>
  {%- endfor %}
</urlset>
